
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper , .portfolio{
  width: 100vw;
  height: 100vh;
  background-color: #191c32;
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between; /*manda todo hacia la izquierda*/
  padding: 2em;
}
.brand {
  margin-top: -7px;
}
.brand span {
  color: aquamarine;
}
.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;/*Separa el texto de forma uniforme*/
}
.menu  li {
  list-style: none;/*Cancela punto lista*/

}
.menu a {
  color: #fff;
  text-decoration: none;/*Cancela la linea baja del texto*/
  padding: 10px 20px; 
}

.menu li:hover a{
  background-color: aquamarine;
  color: black;
}

.menu .active {
  color: black;
 
}


.menu li a:hover {/*hover establecer un segundo estado a cualquier elemento*/
  color: #66E7C8;
  text-decoration: black;
}


.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: 3em;
}

.info-content span {
  color: aqua;
}

.download-cv {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
  box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
}

.download-cv:hover {
  background-color: azure;
  box-shadow: none;
}

.main img {
  border:  7px solid aqua;
  width: 350px;
  height: 520px;
  z-index: 1;
}
*/


/*MAIN*/
.main{
    margin: 0 auto;
    width: 88vw;
    height: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items:center;/*centra todos lo items*/
 
}

h1{
    font-size: 3em;
}
.info-content span {
    color: aquamarine;
  }
.download-cv{
    padding: 10px 20px;/*recubre el texto con un tamaño especificado*/
    background-color: aquamarine;
    border: none;
    border-radius: 20px;/*manejo de los bordes */
    margin-top: 10px; /*hace que se aleje o acerque*/
    cursor: pointer;/*cambia el cursor al pasar por el item*/
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .63);/*sombreado*/
}
.download-cv:hover{
    background-color: white;
    box-shadow: none;
}
.main img{
    width: 500px;
    border: 7px solid aquamarine;
    height: 500px;
    justify-content: space-between;
}
/*About*/
.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
  color: black;
}

.about-info h2 {
  font-size: 2em;
  color: #191c32;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
}

/*Portafolio-----------------------------------------------------------------*/
.portfolio, .contact-section {
  width: 100vw;
  background-color: #191c32;
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;

}
.portfolio-heading h2, .contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #2b3058;
  margin: 1em;
} 

.card_img{
    width: 300px;
    height: 150px;
    background-image: url(image/2-original.png);
    background-size: cover;
}

.card_title{
    padding: 20px;
}
.card_proyect-links{
    display: flex;
    justify-content: space-evenly;/*Espacios equitativos entre elementos*/
}
.card_proyect-links a{
    color: white;
    text-decoration:none;
}
.card_proyect-links i{
    font-size: 1.5em;
}
.card .project-details{
    display: flex;
    justify-content: center;
    margin: 1em;
    width: 70%;
    text-align: center;
    align-items: center;
}
.card .project-details a{
    text-decoration: none;
    color: #191c32;
   text-transform: uppercase;;

}
.proyect-details-content{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}
.card .project-details a{
  text-decoration: none;
  color: #191c32;
}
/*Contact----------------------------------------------------------------------------*/
.contact-section {
  padding: 3em;
  justify-content: space-between;
}

.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.contact-section img {
  width: 750px;
  height: 700px;
  bottom: 0px;
  opacity: .2;
}
.form{
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form input{
  padding: 10px 15px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid white;;
}
.form textarea {
  height: 150px;
  background: none;
  padding: 1.5em;
  color: white;
  border-bottom: 1px solid white;
}
.btn-submit{
    padding: 10px 20px;/*recubre el texto con un tamaño especificado*/
    background-color: aquamarine;
    border: none;
    text-transform: uppercase;/*modifica el texto*/
    border-radius: 20px;/*manejo de los bordes */
    margin-top: 10px; /*hace que se aleje o acerque*/
    cursor: pointer;/*cambia el cursor al pasar por el item*/
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .63);/*sombreado*/
}
.btn-submit:hover{
    background-color: white;
    box-shadow: none;
}
.footer{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: aquamarine;
}
.footer-content h2{
  font-size: 3em;
}
.footer-content h5{
font-size:  1.5em;
}
.footer-content h3{
font-size: 1em;
}

.social-network{
  display: flex;
  justify-content: space-evenly;/*espacios equitativos*/
  width: 200px;
  margin-top: 1em;

}

